/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter);
  background-image: var(--background-image);
  background-repeat: repeat;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-attachment: fixed;
  color: var(--font-color);
}

.header {
  margin: 102px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-width: 700px;
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
}

.logo {
  margin-top: 136px;
  font-family: var(--font-PressStart);
  font-size: clamp(49px, 8vw, 65px);
  text-transform: uppercase;
  line-height: clamp(45px, 8vw, 65px);
  margin-bottom: 20px;
}

.header-title {
  font-family: var(--font-PressStart);
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__list {
  max-width: 84px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  font-family: var(--font-PressStart);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  gap: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
}

.theme-menu__button {
  display: flex;
  gap: 5px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0px;
  text-align: start;
}

.theme-menu__button:disabled {
  pointer-events: none;
  animation: theme 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.theme-menu__button:disabled::before {
  content: "▶";
  width: 16px;
  height: 13px;
  display: block;
  position: absolute;
  transform: translateX(-20px);
  animation: arrowAnim 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--font-color);
  opacity: 0.6;
  transform-origin: left;
  transition: width 0.3s ease;
  animation: underlineAnim 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 50px auto;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
}

.subtitle {
  font-family: var(--font-inter);
  font-size: 18px;
  line-height: 21px;
  margin: 3px 10px;
}

.main-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0px 25px;
  padding-top: 30px;
}

.like_block {
  display: flex;
  align-self: flex-end;
}

.like-icon {
  display: flex;
  background-color: var(--background-color);
  border: none;
  align-self: center;
  justify-content: center;
  transition: border 0.3s ease;
  cursor: pointer;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  border: 2px solid var(--font-color);
}

.card__icon-button {
  height: 38px;
  padding: 0;
  margin: 5px;
}

.card__like-button {
  display: flex;
  position: relative;
  align-self: flex-end;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 130px;
  min-height: 38px;
  background: var(--background-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  margin: 25px 25px 25px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card__like-button::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  transform-origin: left;
  height: 100%;
  background-color: var(--font-color);
  background-blend-mode: difference;
  overflow: hidden;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.card__like-button:hover::before {
  translate: 0%;
}

.card__like-button:focus {
  outline: none;
  box-shadow: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--font-color);
  transition: color 0.5s ease;
  font-family: var(--font-PressStart);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.card__like-button:hover > .button__text {
  mix-blend-mode: difference;
  color: var(--blendmode);
}

.layble {
  position: absolute;
  z-index: 2;
  font-family: var(--font-PressStart);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.8;
  top: 55px;
  right: 25px;
  text-shadow: var(--layble-shadow);
}

@supports ((-webkit-text-stroke: var(--stroke))) {
  .layble {
    -webkit-text-stroke: var(--stroke);
    text-shadow: none;
  }
}

.layble_lower {
  text-transform: lowercase;
}

.cards {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card_gray-style {
  filter: grayscale(70%) opacity(90%);
}

.card_satur-style {
  filter: saturate(4);
}

.card_light-style {
  filter: brightness(1.5);
}

.card_invert-style {
  filter: invert(0.9);
}

.card_sepia-style {
  filter: sepia(1);
}

.card_blur-style {
  filter: blur(10px);
}

.card_hue-rotate {
  filter: hue-rotate(0.2turn);
}

.theme {
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
  overflow: hidden;
  aspect-ratio: 1/1;
}

.save_block {
  width: 100%;
  display: flex;
  margin: 50px auto 100px;
}

.save {
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
  min-width: 335px;
  min-height: 55px;
  font-family: var(--font-PressStart);
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  padding-right: 15px;
  padding-bottom: 5px;
}

.save::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform-origin: left;
  height: 100%;
  background-color: var(--font-color);
  background-blend-mode: difference;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.save:hover::before {
  translate: 0%;
}

.save:hover > .button__text {
  color: var(--blendmode);
  mix-blend-mode: difference;
}

.save:focus {
  outline: none;
  box-shadow: none;
}

.save:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

.floppy {
  position: relative;
  max-width: 21px;
  fill: var(--font-color);
  transition: color 0.5s ease-in-out;
  margin-left: 9px;
}

.save:hover > .floppy {
  color: var(--blendmode);
  mix-blend-mode: difference;
}

dialog {
  max-width: 357px;
  background: var(--background-color);
  border: 2px solid var(--font-color);
  overflow: hidden;
  padding: 0;
}

.modal {
  position: relative;
  display: grid;
  grid-template-columns: 68px 1fr;
  color: var(--font-color);
}

.modal-text {
  grid-row: 1;
  grid-column: 2;
  margin: 30px 30px 30px 20px;
  max-width: 234px;
  font-family: var(--font-PressStart);
  color: var(--font-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 21px;
}

.floppy_modal {
  min-width: 39px;
  margin: 40px 20px 40px 30px;
  fill: var(--font-color);
}

.ok_buttom {
  position: relative;
  z-index: 2;
  margin: 0px 30px 30px;
  width: 293px;
  height: 38px;
  font-family: var(--font-PressStart);
  color: var(--font-color);
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.ok_buttom::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform-origin: left;
  height: 100%;
  background-color: var(--blendmode);
  mix-blend-mode: difference;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.ok_buttom:hover::before {
  translate: 0%;
}

.ok_buttom:hover {
  color: var(--font-color);
}

.ok_buttom:focus {
  outline: none;
  box-shadow: none;
}

.ok_buttom:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .logo {
    font-size: clamp(49px, 8.5vw, 65px);
    line-height: 1.2;
    margin: 120px 14px 10px;
  }

  .header-title {
    font-size: 14px;
    line-height: 14px;
  }

  .theme-menu__list {
    margin-left: 20px;
  }

  .save {
    min-width: 306px;
    min-height: 80px;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .floppy {
    min-width: 28px;
    margin: 10px;
  }

  .subtitle {
    margin: 3px 10px;
    padding-top: 2px;
  }

  .main-text {
    padding: 25px 0px 0px;
    line-height: 21.7px;
  }

  .layble {
    right: 11px;
  }

  .layble_fix {
    top: 75px;
  }

  dialog {
    max-width: 341px;
  }
  .modal {
    margin: auto 17px;
  }

  .modal-text {
    margin: 30px 15px 30px 20px;
  }

  .ok_buttom {
    max-width: 257px;
    margin: 0px 42px 30px 42px;
  }
}
